cred.sh
terraform
LICENSE.txt
.swp
*__pycache__*
*.venv
*local.settings.json
*.terraform
*.zip
dist*
meeting_agenda_automation.egg-info*
weeklymeetingagenda41e718/site/wwwroot/host.json
o365/auth/__pycache__/auth_helper.cpython-311.pyc
