cred.sh
.swp
*__pycache__*
*.venv
*local.settings.json
o365/auth/__pycache__/auth_helper.cpython-311.pyc
o365/auth/__pycache__/auth_helper.cpython-311.pyc
weeklymeetingagenda41e718/site/wwwroot/host.json
