[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
msal = "*"
httpx = "*"
msgraph-sdk = "*"
azure-functions = "*"
loguru = "*"

[dev-packages]
requests = "*"
msal = "*"
httpx = "*"
msgraph-sdk = "*"
azure-functions = "*"
black = "*"
pylint = "*"
pyinstaller = "*"

[requires]
python_version = "3.11"
