[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
msal = "*"
httpx = "*"
msgraph-sdk = "*"
azure-functions = "*"
loguru = "*"
click = "*"

[dev-packages]
requests = "*"
msal = "*"
httpx = "*"
msgraph-sdk = "1.2"
azure-functions = "*"
black = "*"
pylint = "*"
pyinstaller = "*"
typing_extensions = "4.8.0"

[requires]
python_version = "3"
