[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
msal = "*"
httpx = "*"
msgraph-sdk = "*"
azure-functions = "*"
loguru = "*"
click = "*"

[dev-packages]
requests = "*"
msal = "*"
httpx = "*"
msgraph-sdk = "1.2"
azure-functions = "*"
black = "*"
pylint = "*"
pyinstaller = "*"
async-timeout = "4.0.3"
dill = "0.3.8"
exceptiongroup = "1.2.1"
typing_extensions = "4.8.0"
tomli = "2.0.1"

[requires]
python_version = "3"
